<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_links_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_link_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_link_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admin_link.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @link.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_link.url", :default => t("activerecord.labels.url", :default => "Url")) %>:</b>
          <%= @link.url %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admin_link.deleted_at", :default => t("activerecord.labels.deleted_at", :default => "Deleted at")) %>:</b>
          <%= @link.deleted_at %>
        </p>
      <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_link_path(@link), :class => "button" %> 
      <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", admin_link_path(@link), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>       
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>