<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_posts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_post_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_post_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">

      <p>
        <b><%= t("activerecord.attributes.admin_post.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
        <%= @post.title %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.admin_post.permalink", :default => t("activerecord.labels.permalink", :default => "Permalink")) %>:</b>
        <%= @post.permalink %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.admin_post.publish_at", :default => t("activerecord.labels.publish_at", :default => "Publish at")) %>:</b>
        <%= @post.publish_at %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.admin_post.content", :default => t("activerecord.labels.content", :default => "Content")) %>:</b>
        <%= @post.content %>
      </p>

      <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_post_path(@post), :class => "button" %>
      <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", admin_post_path(@post), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>