<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Limi's Blog</title>
    <%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/drastic-dark/style", :cache => true %>
    <%= csrf_meta_tag %>
    <%= include_tiny_mce_if_needed %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">Limi's Blog</a></h1>
        <div id="user-navigation">
          <ul class="wat-cf">
            <li><%= link_to 'View Site', root_path %></li>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf"> <li class="<%= controller.controller_path == 'admin/posts' ? 'active' : '' %>"><a href="<%= admin_posts_path %>">Posts</a></li> <li class="<%= controller.controller_path == 'admin/categories' ? 'active' : '' %>"><a href="<%= admin_categories_path %>">Categories</a></li> <li class="<%= controller.controller_path == 'admin/comments' ? 'active' : '' %>"><a href="<%= admin_comments_path %>">Comments</a></li> <li class="<%= controller.controller_path == 'admin/links' ? 'active' : '' %>"><a href="<%= admin_links_path %>">Links</a></li></ul>
        </div>
      </div>
      <div id="wrapper" class="wat-cf">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <div id="main">
          <%= yield %>
          <div id="footer">
            <div class="block">
              <p>Copyright &copy; <%= Time.now.year %> Lloyd Pick.</p>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </body>
</html>
